html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent !important;
}

img, video {
  z-index: 5;
  background-color: transparent;
}
